<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="elmah" version="1.1" />
  <package id="Ninject" version="2.1.0.76" />
  <package id="WebActivator" version="1.0.0.0" />
  <package id="Ninject.MVC3" version="0.3" />
  <package id="T4MVC" version="2.6.31" />
  <package id="MvcDiagnostics" version="1.0.0" />
</packages>