@{
    Layout = MVC.Shared.Views.Layouts._Layout;
}

<h2>Index</h2>
<p>This will be the main view. No css yet, sorry!</p>
<p>In the meantime, please be entertained by Keyboard cat</p>
<object width="480" height="385"><param name="movie" value="http://www.youtube.com/v/J---aiyznGQ?fs=1&amp;hl=en_US"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/J---aiyznGQ?fs=1&amp;hl=en_US" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="480" height="385"></embed></object>