@{
    ViewBag.Title = "BlogLayout";
    Layout = MVC.Shared.Views.Layouts._Layout;
}

<h2>BlogLayout</h2>


@section scripts {
    <script src="@Links.Scripts.javascript.lib.jquery_jplayer_min_js"></script>
    <script src="@Links.Scripts.javascript.media.soundplayer_js"></script>
}