<nav>
    <ul>
        <li><a href="@Url.Action(MVC.Blog.Index("Music"))">Music</a></li>
        <li><a href="@Url.Action(MVC.Blog.Index("Programming"))">Programming</a></li>
        <li><a href="@Url.Action(MVC.Blog.Index("Life"))">Life</a></li>
    </ul>
</nav>