<?xml version="1.0"?>

<root
  xmlns="urn:ChirpyConfig"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="urn:ChirpyConfig http://www.weirdlover.com/chirpy/chirp.xsd">

    <FileGroup Name="main.css" Minify="False">
        <File Path="style.css"/>
        <File Path="media.css"/>
    </FileGroup>
</root>
